[submodule "data/videogames/mario"]
	path = data/videogames/mario
	url = https://github.com/courtois-neuromod/mario.stimuli.git
	datalad-id = a872e181-72a7-401b-905d-8149f8918063
	datalad-url = https://github.com/courtois-neuromod/mario.stimuli.git
